@{
    ViewBag.Title = "Home Page";
}

<p>@Html.ActionLink("Logueo paciente", "LoginPaciente", "RegistroPacientes")</p>
<p>@Html.ActionLink("Registro paciente", "Create", "RegistroPacientes")</p>

<p>@Html.ActionLink("Logueo Doctor", "LoginPaciente", "RegistroPacientes")</p>

<p>@Html.ActionLink("Registro Doctor", "Create", "RegistroDoctors")</p>