
@{
    ViewBag.Title = "Index";
}

<h1>DiabetHelper  QUIROZ LO CREO EN EL LOGINPACIENTE ACTION</h1>
<h2>Bienvenido @ViewBag.correo </h2>
<p>@Html.ActionLink("Consultar Niveles", "Index", "Niveles")</p>
<p>@Html.ActionLink("Consultar Expediente", "Index", "ExpedientePacientes")</p>
<p>@Html.ActionLink("Consultar Mis recetas", "IndexPacientes", "Recetas")</p>

